<div align = "center">
  <% if @errors%>
    <% @errors.each do |error|%>
      <li><%= error %></li>
    <%end%>
  <%end%>
  <h3>Join Today</h3>
  <form action="/users" method="post">
    <p>Email:</p>
    <input type="text" name="user[email]">
    <p>Password:</p>
    <input type="text" name="user[password]"><br>
    <input type="submit" value="Create Account">
  </form>
</div>
